<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net462" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net462" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net462" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net462" />
  <package id="MySql.Data" version="6.10.8" targetFramework="net462" />
  <package id="MySql.Data.Entity" version="6.10.8" targetFramework="net462" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net462" />
</packages>